<ul class="nav nav-tabs bg-dark ">
  <h3 class="text-white">Blogify</h3>
  <li class="nav-item">
    <a class="nav-link " href="#">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
      >Piyush Garg</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Logout</a></li>
      
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Add Blog</a>
  </li>
  
</ul>
